body{
   
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("nature3.webp");
    background-size: cover;
    
    
}
#containor{
    text-align: center;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
    margin-left: 500px;
}
#a{
    width: 90%;
    height: 18px;
    border-radius: 25px;
    border-color: solid grey;
    font-size:15px;
    outline: none;
    padding: 10px;
    margin: 20px;
    color: solid grey;
}
button{
    background-color: rgb(105, 68, 165);
    margin: 15px;
    font-size: 15px;
    width: 150px;
    height: 35px;
    border-radius: 18px;
    color:white;
    border-color: solid black;
}
#fp{
    margin: 0px;
    margin-right: 280px;
    margin-top: 0;
    color: blue;
}
a{
    text-decoration: none;
}
h1{
    color: rgb(66, 13, 50);
}
